.pricing {
  background-color: #252b42;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  height: 1155px;
}
.pricing__title {
  font-size: 48px;
  line-height: 55px;
  padding-bottom: 17px;
  font-weight: 400;
}
.pricing__subtitle {
  font-size: 28px;
  line-height: 40px;
  font-weight: lighter;
  width: 552px;
  padding-bottom: 90px;
  text-align: center;
}
.offer__all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.offer {
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 335px;
  height: 607px;
  color: #252b42;
  margin-right: 50px;
}
.offer__standard {
  background: #2091f9;
  border: 1px solid #dedede;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 335px;
  height: 693px;
  color: #fff;
  margin-right: 50px;
}
.offer__name {
  font-weight: bolder;
  font-size: 20px;
  line-height: 28px;
}
.offer__discription {
  width: 148px;
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 30px;
  text-align: center;
}
.offer__price {
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
}
.offer__value {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.offer__wrap {
  display: flex;
  flex-direction: row;
}
.offer__dollar {
  display: flex;
  flex-direction: column;
}
.offer__feature {
    list-style: none;
    margin: 20px;
    font-size: 15px;
    line-height: 28px;
  }
.button__offer {
  margin-top: 30px;
}
.button__standard {
  background-color: #fff;
  width: 236px;
  height: 52px;
  border-radius: 50px;
  color: #2091f9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100px;
  text-decoration: none;
  border: 1px;
  margin-top: 30px;
}
