<section class="contacts">
  <h2 class="contacts__title">Contact Us</h2>
  <h4 class="contacts__subtitle">
    Most calendars are designed for teams. Slate is designed for freelancers
  </h4>
  <div class="contacts-card">
    <h3 class="contacts-card__title">Contact Us</h3>
    <form class="contacts-card__action">
      <input
        class="contacts-card__small"
        type="text"
        placeholder="Your Name"
        name="name"
        id="name"
      />
      <input
        class="contacts-card__small"
        type="email"
        placeholder="Your email"
        name="email"
        id="email"
      />
      <input
        class="contacts-card__big"
        type="text"
        placeholder="Your Message"
        name="message"
        id="message"
      />
    </form>
  </div>
  <div>
    <ul class="information">
      <li class="information__discription">
        <img
          class="information__discription-img"
          src="img/map-logo.png"
          alt="map"
        />
        <p class="information__discription-text">
          6386 Spring St undefined Anchorage, Georgia 12473 United States
        </p>
      </li>
      <li class="information__phone">
        <img
          class="information__discription-img"
          src="img/phone-logo.png"
          alt="phone"
        />
        <p class="information__discription-text">(843) 555-0130</p>
      </li>
      <li class="information__email">
        <img
          class="information__discription-img"
          src="img/mail-logo.png"
          alt="mail"
        />
        <p class="information__discription-text">willie.jennings@example.com</p>
      </li>
    </ul>
    <div class="google__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212272.3720173149!2d-84.73197073238818!3d33.766975391052696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2z0JDRgtC70LDQvdGC0LAsINCU0LbQvtGA0LTQttC40Y8sINCh0KjQkA!5e0!3m2!1sru!2sua!4v1684158539154!5m2!1sru!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="social-icons">
      <a href="#"><img src="img/blue-twitter.png" alt="logo twitter" /></a>
      <a href="#"><img src="img/blue-fb.png" alt="logo facebook" /></a>
      <a href="#"><img src="img/blue-linkedin.png" alt="logo linkedin" /></a>
    </div>
  </div>
</section>
