<div class="features">
  <h2 class="features__title">Features</h2>
  <h4 class="features__discription">
    Most calendars are designed for teams. <br> Slate is designed for freelancers
  </h4>
</div>
<div class="features-items">
  <div class="features-items__list">
    <img class="features-item__img" src="img/feature1.png" alt="feature1" />
    <h3 class="features-item__title">OpenType features Variable fonts</h3>
    <h5 class="features-item__text">
      Slate helps you see how many more days you need to work to reach your
      financial goal.
    </h5>
  </div>
  <div class="features-items__list">
    <img class="features-item__img" src="img/feature2.png" alt="feature2" />
    <h3 class="features-item__title">Design with real data</h3>
    <h5 class="features-item__text">
      Slate helps you see how many more days you need to work to reach your
      financial goal.
    </h5>
  </div>
  <div class="features-items__list">
    <img class="features-item__img" src="img/feature3.png" alt="feature3" />
    <h3 class="features-item__title">Fastest way to take action</h3>
    <h5 class="features-item__text">
      Slate helps you see how many more days you need to work to reach your
      financial goal.
    </h5>
  </div>
</div>
<div class="features-video">
  <iframe
    width="1000"
    height="700"
    src="https://www.youtube.com/embed/1W8mQL_345k?controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
