<section class="pages">
  <h3>Pages</h3>
  <ul class="">
    <li>Home</li>
    <li>Products</li>
    <li>Pricing</li>
    <li>About</li>
    <li>Contsct</li>
  </ul>
</section>
<section class="tomothy">
  <h3>Tomothy</h3>
  <ul class="">
    <li>Eleanor Edwards</li>
    <li>Ted Robertson</li>
    <li>Annette Russell</li>
    <li>Jennie Mckinney</li>
    <li>Gloria Richards</li>
  </ul>
</section>
<section class="janeblack">
  <h3>Jane Black</h3>
  <ul class="">
    <li>Philip Jones</li>
    <li>Product</li>
    <li>Colleen Russell</li>
    <li>Marvin Hawkins</li>
    <li>Bruce Simmmons</li>
  </ul>
</section>
<div>
  <ul class="information">
    <li class="information__discription">
      <img
        class="information__discription-img"
        src="img/white-map.png"
        alt="map"
      />
      <p class="information__discription-text">
        7480 Mockingbird Hill undefined
      </p>
    </li>
    <li class="information__phone">
      <img
        class="information__discription-img"
        src="img/white-phone.png"
        alt="phone"
      />
      <p class="information__discription-text">(239) 555-0108</p>
    </li>
  </ul>
  <div class="social-icons">
    <a href="#"><img src="img/logo-twitter.png" alt="logo twitter" /></a>
    <a href="#"><img src="img/logo-facebook.png" alt="logo facebook" /></a>
    <a href="#"><img src="img/logo-linkedin.png" alt="logo linkedin" /></a>
  </div>
</div>
