<div class="footer__wrap">
  <section class="footer__inform">
    <div>
    <h3>Pages</h3>
    <ul class="footer__name">
      <li class="footer__list">Home</li>
      <li class="footer__list">Products</li>
      <li class="footer__list">Pricing</li>
      <li class="footer__list">About</li>
      <li class="footer__list">Contsct</li>
    </ul>
  </div>
  <div>
    <h3>Tomothy</h3>
    <ul class="footer__name">
      <li class="footer__list">Eleanor Edwards</li>
      <li class="footer__list">Ted Robertson</li>
      <li class="footer__list">Annette Russell</li>
      <li class="footer__list">Jennie Mckinney</li>
      <li class="footer__list">Gloria Richards</li>
    </ul>
  </div>
  <div>
    <h3>Jane Black</h3>
    <ul class="footer__name">
      <li class="footer__list">Philip Jones</li>
      <li class="footer__list">Product</li>
      <li class="footer__list">Colleen Russell</li>
      <li class="footer__list">Marvin Hawkins</li>
      <li class="footer__list">Bruce Simmmons</li>
    </ul>
  </div>
  </section>
  <div class="footer__icons">
    <ul class="information">
      <li class="information__discription">
        <img
          class="information__discription-img"
          src="img/white-map.png"
          alt="map"
        />
        <p class="information__discription">
          7480 Mockingbird Hill undefined
        </p>
      </li>
      <li class="information__discription">
        <img
          class="information__discription-img"
          src="img/white-phone.png"
          alt="phone"
        />
        <p class="information__discription-text">(239) 555-0108</p>
      </li>
    </ul>
    <div class="social-icons">
      <a href="#"><img src="img/logo-twitter.png" alt="logo twitter" /></a>
      <a href="#"><img src="img/logo-facebook.png" alt="logo facebook" /></a>
      <a href="#"><img src="img/logo-linkedin.png" alt="logo linkedin" /></a>
    </div>
  </div>
</div>
