<header class="header">
  <div class="header__nav">
    <nav class="header__menu">
      <a class="menu__link" href="#">Home</a>
      <a class="menu__link" href="#">Product</a>
      <a class="menu__link" href="#">Pricing</a>
      <a class="menu__link" href="#">Contact</a>
      <a class="menu__link" href="#">About</a>
    </nav>
    <div class="header__logo">
      <img src="img/logo.png" alt="logo" />
    </div>
    <div class="social-icons">
      <a class="social-logo" href="#"><img src="img/logo-twitter.png" alt="logo twitter" /></a>
      <a class="social-logo" href="#"><img src="img/logo-facebook.png" alt="logo facebook" /></a>
      <a class="social-logo" href="#"><img src="img/logo-linkedin.png" alt="logo linkedin" /></a>
    </div>
  </div>
  <div class="header-text">
    <h1 class="header-text__title">
      The best products <br />
      start with Figma
    </h1>
    <h4 class="header-text__discription">
      Most calendars are designed for teams. Slate is designed <br />
      for freelancers
    </h4>
    <a class="button__header button__thin" href="#">Try For Free</a>
  </div>
</header>
