<div class="newsletter">
  <img
    class="newsletter__img"
    src="img/screencontent.png"
    alt="screen content"
  />
  <div class="newsletter__text">
    <p class="newsletter__finger">At your fingertips</p>
    <h2 class="newsletter__lightning">Lightning fast prototyping</h2>
    <h3 class="newsletter__subscribe">Subscribe to our Newsletter></h3>
    <p class="newsletter__available">Available exclusivery on Figmaland</p>
    <div class="newsletter__buttons">
      <input
        class="newsletter__email button__email"
        type="email"
        placeholder="Your email"
      />
      <button class="button__sub">Subscribe</button>
    </div>
  </div>
</div>
