<section class="pricing">
  <p class="pricing__title">Pricing</p>
  <h4 class="pricing__subtitle">
    Most calendars are designed for teams. <br>
    Slate is designed for freelancers
  </h4>
  <div class="offer__all">
  <div class="offer">
    <h3 class="offer__name">FREE</h3>
    <h6 class="offer__discription">Organize across all apps by hand</h6>
    <div class="offer__wrap">
    <p class="offer__price">0</p>
    <div class="offer__dollar">
    <p class="offer__value">$</p>
    <p class="offer__time">Per Month</p>
  </div>
</div>
    <ul>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
    </ul>
    <a class="button__offer button__thin" href="#">Order now</a>
  </div>
  <div class="offer__standard">
    <h3 class="offer__name">STANDARD</h3>
    <h6 class="offer__discription">Organize across all apps by hand</h6>
    <div class="offer__wrap">
      <p class="offer__price">10</p>
      <div class="offer__dollar">
      <p class="offer__value">$</p>
      <p class="offer__time">Per Month</p>
    </div>
    </div>
    <ul>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
    </ul>
    <a class="button__standard" href="#">Order now</a>
  </div>
  <div class="offer">
    <h3 class="offer__name">BUSINESS</h3>
    <h6 class="offer__discription">Organize across all apps by hand</h6>
    <div class="offer__wrap">
      <p class="offer__price">99</p>
      <div class="offer__dollar">
      <p class="offer__value">$</p>
      <p class="offer__time">Per Month</p>
    </div>
    </div>
    <ul>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
      <li class="offer__feature">Pricing Feature</li>
    </ul>
    <a class="button__offer button__thin" href="#">Order now</a>
  </div>
</div>
</section>
