<section class="testimonials">
  <h2 class="testimonials__title">Testimonials</h2>
  <img class="testimonials__logo" src="img/ibm.png" alt="logo IBM" />
  <h4 class="testimonials__subtitle">
    Most calendars are designed for teams. Slate is designed for freelancers who
    want a simple way to plan their schedule.
  </h4>
  <div class="testimonials__photo-wrap">
    <img
      class="testimonials__client-photo"
      src="img/client.png"
      alt="client photo"
    />
    <h6 class="testimonials__client-info">
      Organize across <br />
      UI designer
    </h6>
  </div>
  <a class="button__testimonials button__regular" href="#">More Testimonials</a>
</section>
